---
title: Grassroots-Parti
layout: home
---

<div id="kpi">
  <div class="row">
    <div class="small-12 medium-10 large-8 small-centered columns">

      <div class="small-3 columns">
        <img src="/assets/img/icon-coops.png" class="float-center">
        <h6>Communities</h6>
        <h5>{{ site.coops.size }}</h5>
      </div>
      <div class="small-3 columns">
        <img src="/assets/img/icon-staff.png" class="float-center">
        <h6>Members</h6>
        {% assign total_members = 0 %}
        {% for coop in site.coops %}
        {% assign total_members = total_members | plus: coop.members %}
        {% endfor %}
        <h5>{{ total_members }}+</h5>
      </div>
      <div class="small-3 columns">
        <img src="/assets/img/icon-revenue.png" class="float-center">
        <h6>Funding</h6>
        <h5>TBA</h5>
      </div>
      <div class="small-3 columns">
        <img src="/assets/img/icon-clients.png" class="float-center">
        <h6>Partners</h6>
        <h5>{{ site.clients.size }}+</h5>
      </div>
        <br />
        <p>Grassroots-Parti.Africa is a network of grassroots participatory communities with a focus on addressing problems in Africa</p>
        <p> <a href="/join">please join us</a>.

    </div>
  </div>
</div>


<section id="members" data-magellan-target="members">
  <div class="row">
    <div class="small-12 columns">

      <h2>Members</h2>
      <p>Take a look at who is part of the Grassroots-Parti.Africa network</p>

      <!-- <div class="view float-center">
        <ul class="tabs" data-tabs id="coops-view-tabs">
          <li class="tabs-title is-active"><a href="#grid" aria-selected="true">Grid</a></li>
          <li class="separator">|</li>
          <li class="tabs-title"><a href="#map">Map</a></li>
        </ul>
      </div> -->

      <div class="tabs-content" data-tabs-content="coops-view-tabs" >

        <!-- START Grid View Content -->
        <div class="tabs-panel is-active" id="grid">
          <div class="row small-up-2 medium-up-4 large-up-6 small-collapse">
            {% for coop in site.coops %}
            <div class="column">
              <a class="coop-thumb" href="{{ coop.url | relative_url }}">
                  <div class="coop-thumb-img has-tip tip-bottom radius" style="background-image: url(/images/coops/{{ coop.slug }}.png)" data-tooltip aria-haspopup="true" title="{{ coop.name }}"></div>
                </a>
            </div>
            {% endfor %}
            <div class="column">
              <a href="join" class="coop-thumb">
                  <h5 id="join-us">Join Grassroots-Parti.Africa</h5>
              </a>
            </div>
          </div>
        </div>
        <!-- END Grid View Content -->

        <!-- START Map View Content -->
        <!-- <div class="tabs-panel" id="map">
          <div class="row small-up-2 medium-up-4 large-up-6 small-collapse">
            <div id="map-coops"></div>
            <script type="text/javascript">
              var app = window.app || {};
              app.mapEntries = [
                {% for coop in site.coops %}
                  {
                    lat: {{ coop.latitude }},
                    lng: {{ coop.longitude }},
                    markerText: '<b><a href=\"{{ coop.url | relative_url }}\">{{ coop.name }}</a></b><br><br>{{ coop.address | split: "," | join: "<br>" }}'
                  },
                {% endfor %}
              ];
            </script>
          </div>
        </div> -->
        <!-- END Map View Content -->

      </div>
    </div>
  </div>
</section>

<section id="clients" data-magellan-target="clients">
  <div class="row">
    <div class="small-12 columns">
      <h2>Partners</h2>
      <p>Here are some of the amazing partners we have worked with so far</p>
      <div id='client-list' class="row small-up-2 medium-up-3 large-up-6">
        {% assign clients = site.clients %}
        {% for client in clients %}
          <div class="column client">
            <div class="client-thumb" style='background-image: url(/images/clients/{{ client.slug }}') title="{{client.slug}}"></div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="contact" data-magellan-target="contact">
</section>
